.body {
  font-family: arial;
  font-size: 16px;
}

.nav {
  display: inline-block;
  background-color: #666;
  overflow: hidden;
  font-family: arial;
  font-color: #fff;
}

.topsidebar {
  width: 25%;
  background-color: skyBlue;
  float: left;
  height: 400px;
}

.left {
  display: inline-block;
}

.main {
  width: 60%;
  background-color: gray;
  float: left;
}

#llog {
  width: 100%;
}

.stats {
  text-align: left;
  background-color: gray;
}

.column {
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.lil_uzi {
  width: 20%;
}
